<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Creation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="m-auto w-50 text-center mb-5 mt-5 text-success">Student Data Creation</h1>
    {% if error %}
        <div class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert" id="errorAlert">
            {{ error }}
        </div>
    {% endif %}


    <form action="{% url 'create' %}" class="m-auto w-50" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label text-success">Name</label>
            <input type="text" class="form-control bg-success-subtle" name="name" value="{{ name|default:'' }}">
             {% if error and not name %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label text-success">Age</label>
            <input type="text" class="form-control bg-success-subtle" name="age" value="{{ age|default:'' }}">
            {% if error and not age %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label text-success">Email</label>
            <input type="text" class="form-control bg-success-subtle" name="email" value="{{ email|default:'' }}">
            {% if error and not email %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label text-success">Gender</label>
            <input type="text" class="form-control bg-success-subtle" name="gender" value="{{ gender|default:'' }}">
             {% if error and not gender %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label text-success">Subject</label>
            <input type="text" class="form-control bg-success-subtle" name="subject" value="{{ subject|default:'' }}">
            {% if error and not subject %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label text-success">Mock</label>
            <input type="text" class="form-control bg-success-subtle" name="mock" value="{{ mock|default:'' }}">
             {% if error and not mock %}
                <div class="invalid-feedback">Subject is required</div>
             {% endif %}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success fs-4" style="margin-bottom:10px;">Add Student</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
        setTimeout(function() {
            const alertElement = document.getElementById('errorAlert');
            if (alertElement) {
                alertElement.style.transition = 'opacity 0.5s ease';
                alertElement.style.opacity = '0';
                setTimeout(function() {
                    alertElement.remove();
                }, 500);
            }
        }, 5000);
    </script>
</body>
</html>
