
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1 class='m-auto w-50 text-center mb-5 mt-5'>Student Data Updation</h1>
    <form class='m-auto w-50' method='POST' action=>
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name='name' value={{student.name}}>
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="text" class="form-control" name='age' value={{student.age}}>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name='email' value={{student.email}}>
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <input type="text" class="form-control" name='gender' value={{student.gender}}>
        </div>
        <div class="mb-3">
            <label class="form-label">Subject</label>
            <input type="text" class="form-control" name='subject' value={{student.subject}}>
        </div>
        <div class="mb-3">
            <label class="form-label">Mock</label>
            <input type="text" class="form-control" name='mock' value={{student.mock}}>
        </div>
        <div class='text-center'>
            <button type="submit" class='btn btn-primary fs-4'>Update</button>
        </div>
        
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
